    h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    }

    h3 {
    color: black;
    }

    body {
    background: url(Imagens/terra.webp) no-repeat center fixed;
    background-size: cover;
    }
    
    #github { height: 100px;
        width: 100px;
        
    }

    #linkedin { height: 100px;
        width: 100px;
    }

    #listas  {
       font-size: larger;
       font-weight: bolder;
    }
    
    /* estilo do cabeçalho */
    .header {
      background-color: #a6dced;
      padding: 20px;
      text-align: center;
    }
    
    /* estilo da barra principal de navegação*/
    .topnav {
      overflow: hidden;
      background-color: burlywood;
    }
    
    /* estilo da barra principal do link */
    .topnav a {
      float: left;
      display: block;
      color: #FFFFFF;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Escolhendo a cor  */
    .topnav a:hover {
      background-color: #ddd;
      color: burlywood;
    }

    #InformacoesPessoais {
      background-color: lightblue;
      width: 300px;
      border: 15px solid rgb(255, 255, 255);
      padding: 50px;
      margin: 20px;
    }

    #Objetivo {
      background-color: lightblue;
      width: 300px;
      border: 15px solid rgb(255, 255, 255);
      padding: 50px;
      margin: 20px;
    }

    #Certificacoes {
      background-color: lightblue;
      width: 300px;
      border: 15px solid rgb(255, 255, 255);
      padding: 50px;
      margin: 20px;
    }

    #Habilidades {
      background-color: lightblue;
      width: 300px;
      border: 15px solid rgb(255, 255, 255);
      padding: 50px;
      margin: 20px;
    }

    #listas {
      background-color: lightblue;
      width: 300px;
      border: 15px solid rgb(255, 255, 255);
      padding: 50px;
      margin: 20px;
    }




